@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(156 163 175);
    @apply bg-gray-400;
    border-radius: 2px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
    @apply bg-red-400;
}

*::selection{
    @apply bg-red-100 text-black;
}

.h-total{
    height: 90vh;
}

.h-76 {
    height: 71vh;
}

.h-61{
    height: 70px;
}